db/oauth.sqlite
ssh/*.pem
ssh/*.crt
ssh/*.cert
ssh/*.key
ssh/*.pub
tools/root_insert_testdata_db.php
tools/root_rebuild_db.php
tools/tmp/
web/autobahn.js
web/jquery-2.1.1.js
gitremovesensitivedata
ws/src/MyApp/Config.php.backup
