RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#

#Header add Access-Control-Allow-Origin "*"
#Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
RewriteBase /api
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
